/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #121212;
  color: #e0e0e0;
  font-family: 'Arial', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #1e1e1e;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 95%;
  max-width: 400px;
  text-align: center;
}

h1 {
  color: #ffffff;
  margin-bottom: 20px;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #333;
  border-radius: 5px;
  background-color: #333;
  color: #e0e0e0;
  font-size: 16px;
}

input::placeholder {
  color: #888;
}

#clearSource {
  background: none;
  border: none;
  color: #888;
  font-size: 20px;
  padding: 0;
  margin: 0;
  transition: color 0.3s ease;
}

#clearSource:hover {
  color: #ff4444;
}

#actions {
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
  color: #888;
}

.action {
  cursor: pointer;
  padding: 20px;
  color: #ffffff;
  text-decoration: none;
  border-radius: 5px;
  font-size: 16px;
  transition: background-color 0.3s ease;
  font-weight: 600;
}

#waLink {
  background-color: #088837;
}

#waLink:hover {
  background-color: #128c7e;
}

#shareLink {
  background-color:blue;
}

#shareLink:hover {
  background-color: #1b46bb;
}

#clipboardLink {
  background-color: #dbbd12;
}

#clipboardLink:hover {
  background-color: #b97903;
}

span {
  color: #888;
  font-size: 14px;
}

#error {
  color: red;
}

.hidden {
  visibility: hidden;
}
